.cardContainer {
  display: flex;
  background-color: var(--color-white);
  width: 328px;
  height: 176px;
  border-radius: 4px;
}

.thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 100%;
  padding: 8px 0px 8px 8px;
}

.content {
  padding: 8px 8px 8px 16px;
}

.name {
  margin: 8px 0px;
  font-size: 12px;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  color: var(--color-text-secondary);
}

.flexLine {
  display: flex;
  align-items: center;
}

.wrapStart {
  display: inline-flex;
  width: 48px;
  height: 8px;
}

.reviewCount {
  margin-left: 4px;
  font-size: 10px;
  line-height: 12px;
  color: var(--color-inactive);
}

.price {
  font-weight: var(--font-weight-medium);
  font-size: 14px;
  line-height: 24px;
  color: var(--color-text-secondary);
}

.originalPrice {
  font-size: 12px;
  line-height: 16px;
  color: var(--color-inactive);
  text-decoration-line: line-through;
}
