.container {
  bottom: 56px;
  position: fixed;

  width: 100%;
  background: var(--color-white);

  padding: 8px 16px;
}

.lineX {
  border-bottom: 1px solid #ebebf0;
  margin: 8px 0;
}

.labelValue {
  display: flex;
  justify-content: space-between;
}

.label ~ .value {
  font-size: 14px;
  line-height: 20px;
  color: var(--color-text-primary);
}

.value {
  font-weight: var(--font-weight-bold);
}

.buttonPayment {
  background: var(--color-orange);
  border: none;
  border-radius: 20px;
  width: 100%;
  padding: 8px 12px;
}
