.cardContainer {
  background-color: var(--color-white);
  width: 160px;
  height: 300px;
  border-radius: 4px;
}

.thumbnail {
  width: 160px;
  height: 160px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
