@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --color-primary: #1a94ff;
  --color-inactive: #808089;
  --color-text-primary: #28282b;
  --color-text-secondary: #27272a;

  --color-white: #ffffff;
  --color-orange: #fc820a;
  --color-red: #ff424f;
  --color-yellow: #ffc400;
  --color-gray-20: #ebebf0;
  --color-gray-40: #c4c4cf;

  --font-sans: 'Inter', sans-serif;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

body {
  margin: 0;
  background-color: var(--color-white);
}

* {
  box-sizing: border-box;
}

html {
  font-family: var(--font-sans);
  font-weight: var(--font-weight-normal);
  color: var(--color-text-primary);
  line-height: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font: inherit;
}
